/* navbar */
nav.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    /* background: rgb(172, 14, 204); */
    padding: 30px 0;
    /* margin-bottom: 0px; */
    transition: all 0.3s ease;
}
.navbar.sticky {
    padding: 15px;
    background: crimson;
}
.navbar div .menu li a{
    color: orange;
    font-size: 18px;
    font-weight: 600;
    margin-right: 35px;
    transition: color 0.3s ease;
}
.navbar div .menu li a:hover{
    color: crimson;
}
.navbar div .logo a{
    font-size: 35px;
    font-weight: 600;
}
#Gopku {
    fill: orange;
    width: 150px;
}
.navbar div .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* menu botton styling */
.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}


/* home section styling */
.home{
    display: flex;
    background: url(sele4.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    
    color: #009C9C;
    min-height: 500px;
}
.home .max-width {
    margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 20px;
}
.home .home-content a {
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 20px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover {
    color: white;
    background: none;
}
.home .home-content .text-2 {
    margin-left: -3px;
}
/* img {
    height: 30px;
    width: auto;
} */

/* about section styling */
section {
    padding: 100px 0;
}
.about {
    font-family: sans-serif;
}
.about .title {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 315px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
.about .title::after{
    content: "napıyoruz";
    font-size: 20px;
    color: yellowgreen;
    position: absolute;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    background: white;
    transform: translateX(-50%);
}
.about .about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .left {
    width: 45%;
}
.about .about-content .right {
    width: 55%;
}
.about .about-content .right .text {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.about .about-content .right p {
    text-align: justify;
    font-size: 20px;
}
.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}


/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0;
    }
}
@media (max-width: 1104px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
        
    }
}
@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
    .home .home-content a {
        font-size: 15px;
        padding: 10px 30px;
    }
    .about .about-content .column {
        width: 100%;
    }
    .max-width {
        max-width: 800px;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right {
        flex: 100%;
    }
}
@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }
}
@media (max-width: 738px) {
    .max-width {
        padding: 0 50px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before {
        content: "\f00d";
    }
    .navbar .menu {
        position: fixed;
        background: black;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }
    .navbar .max-width .menu li {
        display: block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home .home-content .text-1 {
        font-size: 40px;
    }
}